<header class="header">
    <nav class="nav">
        <div class="logo">
            {{- $label_text := (site.Params.label.text | default site.Title) }}
            {{- if site.Title }}
            <a href="{{ "" | absLangURL }}" accesskey="h" title="{{ $label_text }} (Alt + H)">
                {{- if site.Params.label.icon }}
                <img src="{{- site.Params.label.icon | absURL -}}" alt="" aria-label="logo"
                    height="{{- site.Params.label.iconHeight | default " 30" -}}">
                {{- end -}}
                {{- $label_text -}}
            </a>
            {{- end }}
            <div class="logo-switches">
                <!-- Icono Samurai (Usando la misma ruta que el favicon del sitio) -->
                <div id="samurai-icon-container" style="margin-left: 10px; display: flex; align-items: center;">
                    <img src="/favicon.png" alt="Samurai" height="30" width="30" style="image-rendering: pixelated;">
                </div>
            </div>
        </div>
        <ul id="menu">
            {{- range site.Menus.main }}
            <li>
                <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }}">
                    <span>{{ .Name }}</span>
                </a>
            </li>
            {{- end }}
        </ul>
    </nav>
</header>